body {
    background-color: rgb(230, 255, 230);
    color: rgb(100, 200, 100);
    font-family: Arial;
    margin: 0px;
}

header {
    background-color: rgb(100, 200, 100);
    color: rgb(255, 255, 255);
    padding: 15px; 
    font-size: 16pt;
}

footer {
    background-color: rgb(100, 200, 100);
    color: rgb(255, 255, 255);
    padding: 15px; 
    font-size: 16pt;
    text-align: right;
    position: fixed;
    bottom: 0px;
    right: 0px; left: 0px;
}

main {
    margin: 10px 20px 74.5px;
}

a {
    text-decoration: none;
    color:rgb(100, 200, 100);
    transition: 0.5s 0.5s;
}

a:link {
    text-decoration: none;
    color:rgb(100, 200, 100)
}

a:visited {
    color:rgba(100, 200, 100, 0.5)
}

a:hover {
    color: rgb(0, 128, 0);
    text-shadow: 2px 2px 10px rgba(0, 128, 0, 0.2);
    transition: 0.5s 0s;
}

a:active {
    color: rgba(0,0,0,0.3);
}

.menu {
    background-color: rgb(255, 255, 255);
    border: 3px solid;
    border-radius: 10px;
    min-width: 180px;
    max-width: 400px;
    width: auto;
    margin: auto;
    transition: 1s;
    margin-bottom: 30px;
}

.menu:hover {
    background-color: rgb(230, 255, 230)
}
